[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "themes/blonde"]
	path = themes/blonde
	url = https://github.com/aldrichtr/HugoThemeBlonde.git
