<!--
  the summary template is a "card" of the summary of the article, and potentially the image.
-->

<!-- summary card -->
<div class="bg-cream-500 dark:bg-zinc-800 hover:-translate-y-1 hover:shadow-md duration-500 flex flex-row gap-y-10">
  <!-- left side image -->
  <div class="basis-1/4 shadow-xl place-content-center border-l-4 border-cream-500 my-2">
    {{ if .Site.Params.post.thumbnail }}
      {{ if .Params.image }}
        {{ .Scratch.Set "tn_image" .Params.image }}
      {{ else }}
        {{ if .Site.Params.post.noimage }}{{ .Scratch.Set "tn_image" "/img/default.jpg" }}{{ end }}
      {{ end }}
      <img
        alt="thumbnail"
        class="object-fill rounded-r-lg w-[57] h-[32] box-border"
        src="{{ .Scratch.Get "tn_image" | relURL }}" />
    {{ end }}
  </div>
  <!-- right side title and summary -->
  <div class="bg-cream-500 dark:bg-zinc-900 my-2 rounded-r-md px-4">
    <div class="text-zinc-800 dark:text-cream-500 font-bold text-xl">{{ .Title }}</div>
    <p class="text-base pb-5 dark:text-zinc-300">
      {{ substr .Summary 0 130 | plainify | htmlUnescape }}...
    </p>
    <p class="text-sm text-zinc-600 absolute items-center hidden right-0 bottom-0 dark:text-cream-500">
      {{ if .Draft }}
        (still in draft)
      {{ end }}
      <time><span class="material-icons mr-1">access_time</span>{{ .Date.Format "2006/01/02" }}</time>
    </p>
  </div>
</div>
